footer
	.custom-container
		.footer-content
			.row.justify-content-md-between
				.col-md-4.col-lg-4
					a.logo(href="index.html")
						img(src="assets/images/logo.png", alt="Logo")
					p.intro Bí quyết và tâm huyết chắt chiu hơn 20 năm kinh nghiệm bậc thầy tạo nên vị ngon đặc trưng khó cưỡng, khiến mỗi chiếc bánh là một công trình ẩm thực kỳ công và đẳng cấp.
					.typo-group
						h5 Thời gian mở cửa:
						p Thứ 2 - Thứ 6: 8h30 - 18h00
						p Thứ 7 - Chủ Nhật: 9h00 - 16h00
				.col-sm-6.col-md-3.col-lg-2
					h5.footer-title Liên kết nhanh
					ul.quick-links
						li
							a(href="about.html") Về chúng tôi
						li
							a(href="blog.html") Tin tức
						li
							a(href="mooncake-2020.htmk") Bánh trung thu 2019
						li
							a(href="404.html") Chọn vị bánh
						li
							a(href="contact.html") Liên hệ đặt bánh
						li
							a(href="contact.html") Góp ý
				.col-sm-6.col-md-4.col-lg-4
					h5.footer-title Thông tin cửa hàng
					.typo-group
						h5 Cơ sở 1:
						p Điện thoại: 039 539 0668
						p Địa chỉ: Số 4, đường Nguyễn Chí Thanh, Đống Đa
					.typo-group
						h5 Cơ sở 1:
						p Điện thoại: 039 539 0668
						p Địa chỉ: Số 45, ngõ 121, Láng Hạ, Đống Đa
					.typo-group
						h5 Cơ sở 1:
						p Điện thoại: 039 539 0668
						p Địa chỉ: Tầng 2, TTTM Aeon Mall Long Biên, Long Biên
