<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		block title
			title Document
		include link.pug
	body
		include loader.pug
		include search.pug
		include header.pug
		block content
			h1 Happing coding
		include script.pug
		include footer.pug
