<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		- var isPadding = true;
		block title
			title Document
		include link.pug
	body
		include variable.pug
		if crtPage === 1
			include loader.pug
		else
			include loader-2.pug
		include search.pug
		include header.pug
		div(class= isPadding ? 'content' : 'content noPadding')
			block content
				h1 Happing coding
		include footer.pug
		include script.pug
