#search
	.overlay
	a#close-search(href="#")
		i.fal.fa-times
	.search-content
		.custom-container
			.row.justify-content-center
				.col-md-8
					form(action="about.html")
						input(type="text" name="search" placeholder="Tìm kiếm dòng bánh, vị bánh trung thu")
						button
							i.fal.fa-paper-plane
