- 
	function product(id, image ,name, price, discount, type) {
	  	this.id = id;
	  	this.image = image;
	  	this.name = name;
	  	this.price = price;
	  	this.discount = discount;
	  	this.type = type;
	  	this.printPrice = () => {
	  		return this.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	  	}
	}

	const products = [
		new product(1,'assets/images/products/sp1.png','Trăng vàng hồng ngọc tâm an', 800000, false, 'box'),
		new product(2,'assets/images/products/sp2.png','Trăng vàng hồng ngọc an bình', 690000, 900000, 'box'),
		new product(3,'assets/images/products/sp3.png','Trăng vàng hồng ngọc an nhiên (tím)', 1100000, 1200000, 'box'),
		new product(4,'assets/images/products/sp4.png','Trăng vàng pha lê toàn phúc (vàng)', 700000, false, 'box'),
		new product(5,'assets/images/products/sp5.png','Trăng vàng pha lê vạn phúc (xanh)', 1200000, false, 'box'),
		new product(6,'assets/images/products/sp6.png','Trăng vàng kim cương trường khang', 2990000, false, 'box'),
		new product(7,'assets/images/products/sp7.png','Trăng vàng hồng ngọc an phú (vàng)', 950000, 1000000, 'box'),
		new product(8,'assets/images/products/sp8.png','Trăng vàng hồng ngọc an thịnh (đỏ)', 890000, false, 'box'),
		new product(9,'assets/images/products/sp9.png','Trăng vàng hoàng kim vinh hoa (vàng)', 2190000, false, 'box'),
	]

	function news(id, image ,title ,author, date, comment, summary) {
	  	this.id = id;
	  	this.image = image;
	  	this.title = title;
	  	this.author = author;
	  	this.date = date;
	  	this.comment = comment;
	  	this.summary = summary;
	}

	const blogs = [
		new news(
			1,
			'assets/images/news/1.jpg',
			'Hoa văn trên trăng vàng – tuyệt tác vị thu',
			'Admin', '1/9/2019', 3,
			'Lấy cảm hứng và mượn hơi thở lịch sử của hoa văn triều đại Lê, Nguyễn, các dòng sản phẩm Thu, Trăng Vàng của Kinh Đô năm nay gói gọn trong Tuyệt tác vị thu qua 3 yếu tố: Mỹ - Vị - Tình.'
		),
		new news(
			2,
			'assets/images/news/2.jpg',
			'Tết trung thu – chị em chọn quà gì cho ý nghĩa?',
			'Admin', '3/9/2019', 3,
			'Trung Thu nay cũng bận rộn hơn Trung Thu xưa nhiều phần, chị em vừa phải tất bật chuẩn bị cho cả nhà một Tết đoàn viên thật trọn vẹn, lại vừa phải băn khoăn lựa chọn những món quà biếu vừa vặn thể hiện được sự chu đáo, chân tình tới bạn bè, đồng nghiệp, đối tác.'
		),
		new news(
			3,
			'assets/images/news/3.jpg',
			'Tưng bừng không khí lễ hội tại các gian hàng bánh trung thu Longdinh',
			'Admin', '15/9/2019', 1,
			'Không khí trung thu đang ngập tràn trên khắp cả nước với nhiều hoạt động sôi động. Đối với các em nhỏ, trung thu là thời gian được mong chờ nhất trong năm.'
		),
		new news(
			4,
			'assets/images/news/4.jpg',
			'Bánh trung thu không đường cho người ăn kiêng, giữ dáng',
			'Admin', '8/9/2019', 2,
			'Mùa trung thu năm nay, Kinh Đô cho ra mắt dòng bánh trung thu Trăng Vàng Hồng Ngọc Thu Tâm An sử dụng đường năng lượng thấp thay thế hoàn toàn đường tinh luyện. '
		),
		new news(
			5,
			'assets/images/news/5.jpg',
			'Món quà tuyệt tác của mùa trung thu đoàn viên',
			'Huấn Rose', '15/9/2019', 4,
			'Mùa Trung thu 2019, Mondelez Kinh Đô giới thiệu nhiều loại bánh Trung thu, đáp ứng các nhu cầu thưởng thức, biếu tặng đa dạng của người tiêu dùng. '
		),
		new news(
			6,
			'assets/images/news/6.jpg',
			'Mondelez Longdinh tạo lợi thế cạnh tranh trên thị trường bánh trung thu',
			'Admin', '10/9/2019', 4,
			'Theo bà Bùi Thị Thanh Huyền - Phó tổng giám đốc Marketing Mondelez Kinh Đô, công ty đã tạo được vị thế thương hiệu hàng đầu trong thị trường bánh Trung thu'
		),
		new news(
			7,
			'assets/images/news/7.jpg',
			'Hậu duệ đời thứ 4 của gia tộc hơn 100 năm làm bánh trung thu tại Hà Nội',
			'Admin', '5/9/2019', 4,
			'Sinh ra trong một gia đình làm bánh Trung thu gia truyền ở phố Hàng Đường, sau này dời xuống làng Xuân Đỉnh, ông Đỗ Mạnh Thế là hậu duệ đời thứ 4 trong một gia đình có trên 100 năm làm bánh vào mỗi mùa trăng tròn nhất năm. '
		),
		new news(
			8,
			'assets/images/news/8.jpg',
			'Bánh Trung thu rau câu thơm ngon với cách làm đơn giản tại nhà',
			'Admin', '18/9/2019', 10,
			'Bánh Trung thu rau câu là thức quà được nhiều người yêu thích bởi vị ngon ngọt mát lạnh. Cách làm bánh Trung thu rau câu từ các nguyên liệu flan, đậu xanh, phô mai, khoai môn… sẽ mang đến cho bạn món bánh thơm ngon hấp dẫn. '
		),
		new news(
			9,
			'assets/images/news/9.jpeg',
			'Những loại bánh trung thu 2019 đang khiến nhiều bạn trẻ thích thú',
			'Admin', '18/9/2019', 0,
			'Một làn gió mới cho dòng bánh trung thu năm nay mang tên "Healthy Mooncake", đáp ứng đủ tiêu chí: ngon - sạch - ít calo. Mỗi chiếc bánh "Healthy" được làm từ bột nguyên cám và nói không với đường, không tích mỡ tăng cân.'
		),
	]