#sidebar-filter {
	padding-right: remCal(30);
	transition: 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
	.sidebar-section {
		margin-bottom: remCal(30);
		.radio-wrapper {
			height: 0;
			opacity: 0;
			visibility: hidden;
			transform: translateX(-50px);
			&.isOpen {
				height: auto;
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
				transition: $transition;
			}
		}
	}
	.sidebar-section_header {
		display: flex;
		justify-content: space-between;
		margin-bottom: remCal(20);
		align-items: center;
		cursor: pointer;
		.sidebar-section--title {
			@include typo($fsz:18,$up:true,$color: setSchemaColor(gray,dark), $fw: 700);
		}
		span {
			transition: $transition;
			&.up {
				transform: rotate(180deg);
			}
		}
	}
	#close-sidebar {
		display: none;
	}
	&.isMobile {
		overflow-y: auto;
		background-color: #FEFBE2;
		padding: remCal(30);
		padding-bottom: remCal(100);
		z-index: 8;
		position: fixed;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 300px;
		.sidebar-banner {
			margin-bottom: remCal(50);
		}
		#close-sidebar {
			display: block;
		}
		&.isOpen {
			left: 0;
		}
	}
}



#open-sidebar {
	position: fixed;
	left: 0;
	top: 30%;
	@include button($pd: remCal(15) remCal(15),
			$bg-color: base,
			$hvr-color: base,
			$color: white,
			$hvr-bg-color: white,
			$border-color: base,
			$hvr-border-color: base,
			$fsz: 16,
			$btn-rd: 0 3px 3px 0,
			$border-thick: 2)
	display: none;
	span {
		display: none;
		text-transform: uppercase;
	}
	@include small-desktop {
		display: inline-block;
		&.isHide {
			display: none;
		}
	}
	@include mobile {
		top: auto;
		bottom: 0;
		right: 0;
		border-radius: 0;
		border-width: 2px 0 0 0;
		padding: remCal(20) 0;
		border-top: 2px solid setColor(base-lighter);
		i {
			margin-right: remCal(15);
		}
		span {
			display: inline-block;
		}
	}
}



#overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.6);
	z-index: 7;
}