%isScroll {
	position: fixed!important;
	top: 0;
	left: 0;
	right: 0;
	background-color: setColor(base);
	transform: translateY(0);
	padding-top: remCal(10);
	padding-bottom: remCal(10);
	transform: translateY(0);
}

%hide {
	transform: translateY(-200px)!important;
}

.header {
	background-color: getColor(base);
	padding-top: remCal(20);
	padding-bottom: remCal(20);
	transition: 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
	&.hide {
		@extend %hide;
	}

	&.isScroll {
		@extend %isScroll;
	}

	&.absolute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: getColor(trans);
		z-index: 5;
		&.hide {
			@extend %hide;
		}
		&.isScroll {
			@extend %isScroll;
		}
	}

	&.isMobile {
		background-color: getColor(base);
		position: unset;
		.header-content {
			.logo {
				img {
					max-height: remCal(50)
				}
			}
			nav {
				display: none;
			}
			.nav-function {
				.open-nav {
					display: inline-block;
				}
			}
		}
	}
	
	.header-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo {
			img {
				max-height: remCal(70);
			}
		}
		nav {
			ul {
				li {
					display: inline-block;
					margin-left: 13px;
					margin-right: 13px;
					@include trim-margin();
					a {
						@include link(white, base-lighter, $fw: 700);
						
						
						&.active {
							color: getColor(base-lighter);
						}
						&.btn {
							border: remCal(2) solid getColor(white);
							border-radius: 999px;
							padding: remCal(10) remCal(35);
							&.active {
								border-color: getColor(base-lighter);
							}
							&:hover {
								border-color: getColor(base-lighter);
							}
						}
					}
				}
			}
		}
		.nav-function {
			a {
				@include link(white, base-lighter, $fsz: 20);
				margin-left: remCal(10);
				margin-right: remCal(10);
				@include trim-margin;
			}
			.open-nav {
				display: none;
			}
		}	
	}
}

//Sidebar navigation
#clone-menu {
	@extend .header;
	padding: 0;
	.header-content {
		nav {
			position: fixed;
			left: -100%;
			top: 0;
			width: 280px;
			height: 100vh;
			background-color: getColor(base);
			padding: remCal(50) remCal(30);
			z-index: 10;
			overflow-y: auto;
			border-right: 2px solid transparent;
		  	background-clip: padding-box, border-box;
		  	background-origin: padding-box, border-box;
		    background-image: linear-gradient(getColor(base), getColor(base)), linear-gradient(180deg, getColor(base) 0%, #FACF5A 50%, getColor(base) 100%);
		    transition: 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
			ul {
				li {
					display: block;
					margin-left: 0;
					margin-right: 0;
					margin-bottom: remCal(50);
				}
			}
			&.isOpen {
				left: 0;
			}
		}
	}
}