.breadcrumb {
	a {
		@include link(white, base)
		&.prvPage {
			&:after {
				content: ".";
				padding: 0 remCal(15);
			}
		}
		&.crtPage {
			font-family: cambria-bold;
		}
	}
	&.breadcrumb--dark {
		margin-bottom: remCal(70);
		a {
			@include link(setSchemaColor(gray,dark), base, $fsz:18);
			&.crtPage {
				font-family: cambria-bold;
			}
		}
	}
}