.order-complete {
	margin-top: remCal(100);
	margin-bottom: remCal(100);
	text-align: center;
	.order-complete_content {
		.order-complete_content__header {
			img {
				max-width: remCal(150);
				max-height: remCal(150);
				margin-bottom: remCal(50);
			}
			h2 {
				@include typo($fsz:35,$color:base,$fw:700,$up:true);
				margin-bottom: remCal(18);
			}
			h5 {
				@include typo($fsz:22,$color:setSchemaColor(gray),$fw:700);
				margin-bottom: remCal(70);
				padding-bottom: remCal(70);
				border-bottom: 1px solid #CFCFCF;
			}
		}
		.order-complete_content__footer {
			p {
				@include typo($fsz:20,$color:setSchemaColor(gray,dark));
				margin-bottom: remCal(30);
			}
			.order-number {
				@include typo($fsz:25,$color:setSchemaColor(gray,dark),$fw:700);
				border: 1px solid #CFCFCF;
				display: inline-block;
				padding: remCal(5) remCal(20);
			}
		}
	}
}