.shop-detail {
	margin-top: remCal(100);
	margin-bottom: remCal(100);
	.shop-detail_product {
		display: flex;
		align-items: center;
		margin-bottom: remCal(100);
		.shop-detail_product__left {
			flex: 1 1 remCaL(400);
			max-width: remCaL(400);
			
			.backdrop {
				height: remCal(400);
				width: remCal(400);
				background: linear-gradient(180deg, #FACF5A 0%, #FFBA00 100%);
				border-radius: 999px;
			}
			.product-image {
				position: relative;
				#parallax-wrapper {
					img {
						position:absolute;
						bottom: 0;
						right: 0;
						max-width: 85%;
					}
				}
			}
		}
		.shop-detail_product__right {
			flex: 1;
			padding-left: remCal(100);
			.shop-detail_product__right_content {
				.product-category {
					margin-bottom: remCal(10);
					@include typo($fsz:18,$up:true,$color: setSchemaColor(gray), $fw: 700);
				}
				.product-name {
					margin-bottom: remCal(35);
					@include typo($fsz:35, $color: setSchemaColor(gray, dark));
					font-family: SVN;
				}
				.product-price {
					margin-bottom: remCal(30);
					@include typo($fsz:18, $color: setSchemaColor(gray, dark), $fw: 700);
					.final-price {
						font-size: remCal(26);
						color: setColor(base);
						margin-right: remCal(15);
					}
					.discount-price {
						font-size: remCal(20);
						color: setSchemaColor(gray,light);
						text-decoration: line-through;
					}
				}
				.product-information {
					margin-bottom: remCal(40);
					h5 {
						margin-bottom: remCal(10);
						@include typo($color: setSchemaColor(gray, dark), $fw: 700, $fsz: 18);
					}
					ul {
						li {
							margin-bottom: remCal(8);
						    list-style-type: disc;
    						list-style-position: inside;
							@include typo($color: setSchemaColor(gray),$fsz: 18);
							a {
								font-size: remCal(18);
								margin-left: remCal(5);
							}

						}
					}
					
				}
				.btn {
					padding-left: remCal(70);
					padding-right: remCal(70);
				}
			}
		}
	}
	.recommended-products {
		.recommended-products_wrapper {
			margin: 0 -15px;
			.product {
				padding: 0 15px;
			}
		}
	}
	@include desktop {
		.shop-detail_product {
			.shop-detail_product__right {
				padding-left: remCal(60);
			}
		}
	}
	@include tablet {
		.shop-detail_product {
			flex-direction: column;
			.shop-detail_product__left {
				flex: 1 1 100%;
				max-width: 100%;
				margin-bottom: remCal(50);
			}
			.shop-detail_product__right {
				padding-left: 0;
				flex: 1 1 100%;
				max-width: 100%;
			}
		}
	}
}