.shop {
	margin-bottom: remCal(100);
	.shop-header {
		.shop-header_banners {
			margin-bottom: remCal(30);
			img {
				height: remCal(280);
				width: 100%;
				object-fit: cover;
				border-radius: remCal(5);
			}
		}
		.shop-header_filter {
			margin-bottom: remCal(30);
			text-align: right;
			display: flex;
			align-items: center;
			// flex-wrap: wrap;
			.search-result {
				@include typo($fsz:18,$color: setSchemaColor(gray));
				span {
					margin-left: remCal(10);
					@include typo($fsz:18, $fw: 700,$color: setSchemaColor(gray, dark));
					&:after {
						content: '"';
					}
					&:before {
						content: '"';
					}
				}
			}
			.sort-select {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				margin-left: auto;
				p {
					@include typo($fsz:18,$lh:0,$color: setSchemaColor(gray));
					margin-right: remCal(15);
				}
				select {
					@include select($pd-ver: 10, $width: remCal(200));
				}
			}
			@include tablet {
				white-space: nowrap;
				overflow-x: auto;
				.search-result {
					margin-right: remCal(50);
				}
			}
		}
	}
	#sidebar-filter {
		.sidebar-header {
			margin-bottom: remCal(30);
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: remCal(15);
			border-bottom: remCal(1) solid #ccc;
			#reset-filter {
				margin-left: auto;
				i {
					margin-right: remCal(10);
				}
				@include button($pd: remCal(8) remCal(16),
								$bg-color: trans,
								$hvr-color: white,
								$color: base,
								$hvr-bg-color: base,
								$border-color: base,
								$hvr-border-color: base,
								$fsz: 16,
								$btn-rd: remCal(5),
								$border-thick: 2);
			}
		}
		.sidebar-banner {
			img {
				border-radius: remCal(5);
			}
		}
	}
	.shop-product_group {
		margin-bottom: remCal(50);
		.product {
			margin-bottom: remCal(30);
		}
	}
	@include small-desktop {
		.shop-header {
			.shop-header_banners {
				a {
					img {
						height: auto;
					}
				}
			}
			.shop-header_filter {
				#open-sidebar {
					margin-right: remCal(50);
					display: block;
				}
			}
		}
	}

	@include mobile {
		.shop-header {
			.shop-header_banners {
				a {
					&:first-child {
						img {
							margin-bottom: remCal(30);
						}
					}
				}
			}
			.shop-header_filter {
				#open-sidebar {
					display: block;
					margin-bottom: remCal(20);
				}
			}
		}
	}
}