extends base/layout.pug
block title
	title 404 Error
block content
	.error-404
		.custom-container
			.error-404_content
				img(src="assets/images/404.png", alt="404 error image")
				h2 Trang bạn đang tìm kiếm hiện đang bảo trì
				p Chúng tôi rất tiếc về sự cố này, chúng tôi sẽ khắc phục sớm nhất có thể
				a.btn.btn--base-fill(href="index.html") Trở về trang chủ