extends base/layout.pug

block title
	- var crtPage = 2;
	title Về chúng tôi
block content
	.page-header
		.custom-container
			.page-header_content
				h2 Về Chúng Tôi
				.breadcrumb
					a.prvPage(href="index.html") Trang chủ
					a.crtPage(href="#") Về chúng tôi
	.about
		.custom-container
			.our-success
				.section-header.wow.fadeInUp
					h3 Thành công của Longdinh
					p Những danh hiệu cao quý mà Longdinh Mooncake đã đạt được
				.our-success_group
					.our-success_card.wow.fadeInUp
						.our-success_card_wrapper
							.our-success_card__img
								img(src="assets/images/reward-1.png", alt="Logo các danh hiệu")
							.our-success_card__content
								h5.reward-name Thương hiệu bánh của năm
								p.reward-time 2011-2012
								p.reward-detail Danh hiệu thượng hiệu bánh xuất sắc năm 2011 - 2012  do Bộ Văn hóa trao tặng  
					.our-success_card.wow.fadeInUp
						.our-success_card_wrapper
							.our-success_card__img
								img(src="assets/images/reward-2.png", alt="Logo các danh hiệu")
							.our-success_card__content
								h5.reward-name Hãng Bánh được yêu thích
								p.reward-time 2009-2012
								p.reward-detail Thương hiệu bánh được yêu thich từ năm 2009-2015 do người tiêu dùng bình chọn
					.our-success_card.wow.fadeInUp
						.our-success_card_wrapper
							.our-success_card__img
								img(src="assets/images/reward-3.png", alt="Logo các danh hiệu")
							.our-success_card__content
								h5.reward-name Doanh nghiệp xuất sắc
								p.reward-time 2014-2015
								p.reward-detail Đạt doanh nghiệp xuất sắc năm 2014-2015 do thủ tướng chính phủ trao tặng
			.master-quote
				.row.align-items-center
					.col-md-5
						.master-quote_img.wow.fadeInUp
							img(src="assets/images/chef.png", alt="Hình ảnh đầu bếp")
					.col-md-7
						.master-quote_content.wow.fadeInUp(data-wow-delay="0.5s")
							q “Tôi rất hạnh phúc khi khách hàng đã tin tưởng và sử dụng thương hiệu bánh trung Long Dinh từ xưa đến nay. Vì vậy chúng tôi luôn đem đến cho khách hàng những hộp bánh chất lượng nhất làm bằng tâm huyết chúng tôi gửi găm cho khách hàng”
							p.master Ông <span>Nguyễn Đức Long</span> - Người sáng lập thương hiệu LongDinh Mooncake
							img.signature(src="assets/images/signature.svg", alt="Chữ ký")
		.data-number
			.overlay
			.custom-container
				.row
					.col-4
						.data-number_detail.wow.fadeInUp
							.data-number_detail--icon
								i.fal.fa-hat-chef
							.data-number_detail--number
								span 12
							h3.data-number_detail--label Đầu bếp hàng đầu
					.col-4
						.data-number_detail.wow.fadeInUp(data-wow-delay="0.2s")
							.data-number_detail--icon
								i.fal.fa-ballot-check
							.data-number_detail--number
								span 135
								| +
							h3.data-number_detail--label Đơn hàng mỗi ngày
					.col-4
						.data-number_detail.wow.fadeInUp(data-wow-delay="0.4s")
							.data-number_detail--icon
								i.fal.fa-badge
							.data-number_detail--number
								span 340
								| +
							h3.data-number_detail--label Chiếc bánh mỗi ngày
		.custom-container
			.our-chefs
				.section-header.wow.fadeInUp
					h3 Đầu bếp của chúng tôi
					p Những con người làm bằng việc bằng tâm huyết và niềm đam mê
				.our-chefs_group.wow.fadeInUp
					.chef-block
						.chef-avatar
							img(src="assets/images/chef1.jpg", alt="Chân dung đầu bếp")
						.chef-detail
							.chef-detail_header
								h5.chef-name Mr Trần Long
								p.chef-position Bếp trưởng
								p.chef-quote “Học nấu bếp cũng không khác gì đi học ở trường, cũng phải theo thứ tự, có gốc gác rồi phát triển đàng hoàng thì mới giỏi thực sự được.”
							.chef-detail_footer
								p.chef-contact Điện thoại: 0123.456.7890
								p.chef-contact Email: tranlong@longdinh.com
								.chef-social-contact
									a(href="")
										i.fab.fa-facebook-f
									a(href="")
										i.fab.fa-twitter
									a(href="")
										i.fab.fa-instagram
					.chef-block
						.chef-avatar
							img(src="assets/images/chef3.jpg", alt="Chân dung đầu bếp")
						.chef-detail
							.chef-detail_header
								h5.chef-name Mrs Nguyễn Hương
								p.chef-position Chuyên gia đánh giá hương vị
								p.chef-quote “Nghề bếp í mà,nó vất vả cực khổ ra sao thì anh em trong nghề là thấm nhất,áp lực công việc,gánh nặng doanh thu,..... biết thế nhưng phải gắng khi đã trót yêu nghề ”
							.chef-detail_footer
								p.chef-contact Điện thoại: 0123.456.7890
								p.chef-contact Email: nguyenhuobg@longdinh.com
								.chef-social-contact
									a(href="")
										i.fab.fa-facebook-f
									a(href="")
										i.fab.fa-twitter
									a(href="")
										i.fab.fa-instagram
					.chef-block
						.chef-avatar
							img(src="assets/images/chef2.jpg", alt="Chân dung đầu bếp")
						.chef-detail
							.chef-detail_header
								h5.chef-name Mr Alex
								p.chef-position Đầu bếp
								p.chef-quote “Nếu nấu một món ăn chỉ cần 30 phút đến vài tiếng là xong thì để làm một món bánh có khi mất hơn 1 buổi, thậm chí là cả ngày, vài ngày mới hoàn thành”
							.chef-detail_footer
								p.chef-contact Điện thoại: 0123.456.7890
								p.chef-contact Email: alex@longdinh.com
								.chef-social-contact
									a(href="")
										i.fab.fa-facebook-f
									a(href="")
										i.fab.fa-twitter
									a(href="")
										i.fab.fa-instagram
					.chef-block
						.chef-avatar
							img(src="assets/images/chef4.jpg", alt="Chân dung đầu bếp")
						.chef-detail
							.chef-detail_header
								h5.chef-name Mr Văn Đức 
								p.chef-position Bếp phó
								p.chef-quote “Làm bánh rất khó, chỉ cần sai lệch một vài thứ trong công thức thôi là có thể hỏng luôn 1 mẻ bánh và phải làm lại từ đầu.”
							.chef-detail_footer
								p.chef-contact Điện thoại: 0123.456.7890
								p.chef-contact Email: vanduc@longdinh.com
								.chef-social-contact
									a(href="")
										i.fab.fa-facebook-f
									a(href="")
										i.fab.fa-twitter
									a(href="")
										i.fab.fa-instagram


