extends base/layout.pug

block title
	- var crtPage = 4;
	title Liên hệ với chúng tôi
block content
	.page-header
		.custom-container
			.page-header_content
				h2 Liên hệ với chúng tôi
				.breadcrumb
					a.prvPage(href="index.html") Trang chủ
					a.crtPage(href="#") Liên hệ
	.contact
		.custom-container
			