extends base/layout.pug
block title
	- var crtPage = 1;
	- var isPadding = false;
	title Trang chủ
block content
	.banner
		.custom-container
			.row.align-items-center
				.offset-lg-5.col-lg-7
					.banner-content
						h2.banner-content--title <span>Bánh</span> <span>trung</span> <span>thu</span> <span>đẳng</span> <span>cấp</span> </br> <span>Cho</span> <span>tình</span> <span>thêm</span> <span>trọn</span> <span>vẹn</span>
						p.banner-content--intro Với LongDinh Mooncake,  trung thu là câu chuyện của tinh hoa kể nên bởi những chiếc bánh thượng hạng được chế biến kỳ công ; bởi lời chúc ý nghĩa gói gọn trong mòn quà trung thu trao tay cho tình thân thêm vẹn trời, toàn bộ tinh hoa thể hiện qua tuyệt tác Mỹ - Vị - Tình
						.banner-btn_group
							a.play-btn(href="#") 
								i.fas.fa-play
								|Xem video giới thiệu
							a.btn.btn--base-lighter-outline(href="#") Tìm hiểu thêm
		.banner-img
			img.banner-img--1(src="assets/images/banner-img-1.png", alt="Ảnh trang trí banner")
			img.banner-img--2(src="assets/images/banner-img-2.png", alt="Ảnh trang trí banner")
	section.section-1
		.decoration
			.decoration-top
				img.decoration-top--1(src="assets/images/long-den-1.png", alt="Decoration")
				img.decoration-top--2(src="assets/images/long-den-2.png", alt="Decoration")
			.decoration-middle
				img.decoration-middle(src="assets/images/banh-tt.png", alt="Decoration")
			.decoration-bottom
				img.decoration-bottom--1(src="assets/images/hoa-1.png", alt="Decoration")
				img.decoration-bottom--2(src="assets/images/hoa-2.png", alt="Decoration")
		.our-story
			.custom-container
				.section-header
					h3 Câu chuyện của chúng tôi
					p Hãy cùng khám phá sự tinh tế trong mỗi chiếc bánh trung thu Long Dinh
				.our-story_content
					.our-story_content--1
						.row.align-items-sm-center
							.col-md-6
								.our-story_content__intro
									p Tinh hoa đâu chỉ là nguyên liệu thượng hạng, mà còn là sự tinh tuyển khắt khe. Bí quyết và tâm huyết chắt chiu hơn 20 năm kinh nghiệm bậc thầy tạo nên vị ngon đặc trưng khó cưỡng, khiến mỗi chiếc bánh là một công trình ẩm thực đẳng cấp.
									p Tinh hoa hội tụ trong diện mạo sang trọng của những hộp bánh trung thu LongDinh, vừa tôn vinh những giá trị truyền thống, vừa điểm tô những sắc màu tươi mới. 
							.col-md-6
								iframe(width='100%', height='315', src='https://www.youtube.com/embed/Bjzwe3bqiL8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
					.our-story_content--2
						.row.align-items-sm-center
							.col-md-6
								img(src="assets/images/cakes.png", alt="Moon cakes")
							.col-md-6
								.our-story_content__intro
									p Sự sắc sảo, tinh tế của những họa tiết như rồng ổ trên gốm lam triều Lê, chim khách đậu trên cây, hay hoa văn mẫu đơn, bảo bối quạt lông hạc trên pháp lam triều Nguyễn… tạo nên món quà thu đẳng cấp để gửi gắm lời chúc vẹn tròn đến quý nhân.
									p Tinh hoa gói gọn trong chiếc bánh trung thu Longdinh đẳng cấp cho tình thân thêm trọn vẹn. Đó là món quà quý xứng tầm với những mối giao hảo thân tình và chứa đựng trọn vẹn tâm ý của người trao gửi.
		.our-products
			.custom-container
				.section-header
					h3 Tinh túy chắt lọc đến từ Longdinh
					p Những dòng bánh cao cấp đem đến sự đẳng cấp cho khách hàng
				.row
					.col-md-6
						a(href="mooncake-2020.html").product-type.big-product-type
							.product-type_img
								img(src="assets/images/products/sp7.png", alt="Bánh trung thu")
							.product-type_content
								h5 An Thịnh Đỏ
					.col-md-6
						.row
							.col-6
								a(href="mooncake-2020.html").product-type.small-product-type
									.product-type_img
										img(src="assets/images/products/sp1.png", alt="Bánh trung thu")
									.product-type_content
										h5 An Thịnh Đỏ
							.col-6
								a(href="mooncake-2020.html").product-type.small-product-type
									.product-type_img
										img(src="assets/images/products/sp2.png", alt="Bánh trung thu")
									.product-type_content
										h5 An Thịnh Đỏ
							.col-6
								a(href="mooncake-2020.html").product-type.small-product-type
									.product-type_img
										img(src="assets/images/products/sp3.png", alt="Bánh trung thu")
									.product-type_content
										h5 An Thịnh Đỏ
							.col-6
								a(href="mooncake-2020.html").product-type.small-product-type
									.product-type_img
										img(src="assets/images/products/sp4.png", alt="Bánh trung thu")
									.product-type_content
										h5 An Thịnh Đỏ
	a.call-to-action(href="shop_detail.html")
		img(src="assets/images/cta.png", alt="Giới thiệu loại bánh mới")
	section.section-2
		.decoration
			.decoration-bottom
				img.decoration-bottom--1(src="assets/images/footer-deco.png", alt="Decoration")
		.feature-products
			.custom-container
				.section-header
					h3 Sản phẩm bán chạy 
					p Những loại bánh được khách hàng ưa chuộng và đặt mua nhiều nhất
				.products-group
					each product in products.filter((product) => product.type == 'box').slice(0,5)
						.product
							.product-image
								img(src=product.image)
								a.btn-cart-add(href="#") Thêm vào giỏ hàng
							.prodcut-content
								a.prodcut-content--name(href="shop-detail.html")= product.name
								.product-content_price
									h5= product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
										if product.discount
											span= product.discount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
				.item-center
					a.btn.btn--base(href="mooncake-2020.html") Xem thêm sản phẩm
		.feature-news
			.custom-container
				.section-header
					h3 Tin tức sản phẩm
					p Về thương hiệu bánh trung thu Longdinh
				.feature-news-group
					.news
						.news-image
							img(src="assets/images/news/7.jpg", alt="Hình ảnh tin tức")
						.news-content
							a.news-content--title(href="blog_detail.html") Hậu duệ đời thứ 4 của gia tộc hơn 100 năm làm bánh trung thu tại Hà Nội
							.news-content--info
								span
									i.fal.fa-user
									| Admin
								span
									i.fal.fa-clock
									| 1/9/2019
								span
									i.fal.fa-eye
									| 15
							p.news-content--cited Sinh ra trong một gia đình làm bánh Trung thu gia truyền ở phố Hàng Đường, sau này dời xuống làng Xuân Đỉnh, ông Đỗ Mạnh Thế là hậu duệ đời thứ 4 trong một gia đình có trên 100 năm làm bánh vào mỗi mùa trăng tròn nhất năm. 					
					.news
						.news-image
							img(src="assets/images/news/8.jpg", alt="Hình ảnh tin tức")
						.news-content
							a.news-content--title(href="blog_detail.html") Bánh Trung thu rau câu thơm ngon với cách làm đơn giản tại nhà
							.news-content--info
								span
									i.fal.fa-user
									| Admin
								span
									i.fal.fa-clock
									| 1/9/2019
								span
									i.fal.fa-eye
									| 15
							p.news-content--cited Bánh Trung thu rau câu là thức quà được nhiều người yêu thích bởi vị ngon ngọt mát lạnh. Cách làm bánh Trung thu rau câu từ các nguyên liệu flan, đậu xanh, phô mai, khoai môn… sẽ mang đến cho bạn món bánh thơm ngon hấp dẫn. 
					.news
						.news-image
							img(src="assets/images/news/9.jpeg", alt="Hình ảnh tin tức")
						.news-content
							a.news-content--title(href="blog_detail.html") Những loại bánh trung thu 2019 đang khiến nhiều bạn trẻ thích thú
							.news-content--info
								span
									i.fal.fa-user
									| Admin
								span
									i.fal.fa-clock
									| 1/9/2019
								span
									i.fal.fa-eye
									| 15
							p.news-content--cited Nhiều loại bánh trung thu mẫu mã mới lạ thu hút được sự yêu thích của nhiều người.
					.news
						.news-image
							img(src="assets/images/news/6.jpg", alt="Hình ảnh tin tức")
						.news-content
							a.news-content--title(href="blog_detail.html") Những loại bánh trung thu 2019 đang khiến nhiều bạn trẻ thích thú
							.news-content--info
								span
									i.fal.fa-user
									| Admin
								span
									i.fal.fa-clock
									| 1/9/2019
								span
									i.fal.fa-eye
									| 15
							p.news-content--cited Nhiều loại bánh trung thu mẫu mã mới lạ thu hút được sự yêu thích của nhiều người.
		.lastest-news
			.custom-container
				.section-header.only-title
					h3 Nhận tin tức tức mới nhất từ chúng tôi
				.row.justify-content-md-center
					.col-sm-8.mx-auto
						form(method="POST")
							input(type="text" placeholder="Vui lòng để lại email của quý khách để nhận tin tức mới nhất từ chúng tôi")
							button 
								i.fal.fa-paper-plane